<section class="about">
    <div class="about-content">
      <div class="about-text">
        <h2>About Me</h2>
        <p>
          I'm [<span style="color: rgb(245, 82, 23);">Akhilesh Yadav</span>], a passionate web developer with a knack for creating intuitive and dynamic user experiences. With a background in [I am IT Student], I specialize in [Web Designing], and I love solving complex problems with elegant solutions.
        </p>
        <p>
          My journey in teach started with [IT College], and I've since honed my skills in various technologies and frameworks. When I'm coding, you might find me [developing].
        </p>
        <a href="contact" class="btn">Get in Touch</a>
      </div>
      <div class="about-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq7eGEdAe0GDuwkfJtSnhN5wwy2y2pzsTG4Q&s" alt="About Image">
      </div>
    </div>

  </section>
  
  <section>
    <app-skills></app-skills>
  </section>