<section class="skills">
    <div class="skills-content">
      <h2>My Skills</h2>
      <div class="skills-list">
        <div class="skill-item">
          <h3>Frontend Development</h3>
          <ul>
            <li>HTML & CSS <i class="fa-brands fa-html5" style="color: #f0190a;"></i> & <i class="fa-brands fa-css3-alt fa-beat" style="color: #74C0FC;"></i></li>
            <li>JavaScript <i class="fa-brands fa-js fa-beat" style="color: #FFD43B;"></i></li>
            <li>Angular <i class="fa-brands fa-angular fa-beat" style="color: #dd0350;"></i></li>
            <li>Bootstrap</li>
            <li>Telwin Css </li>
          </ul>
        </div>
        <div class="skill-item">
          <h3>Backend Development</h3>
          <ul>
            <li>Node.js <i class="fa-brands fa-node fa-beat fa-2xl" style="color: #63E6BE;"></i></li>
            <li>Express.js</li>
            
          </ul>
        </div>
        <div class="skill-item">
          <h3>Tools & Technologies</h3>
          <ul>
            <li>Git & GitHub <i class="fab fa-github"></i></li>
            <li>PostMan </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
